<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="#" />
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}

    </head>

    <body>
    {% for message in app.flashes('errors') %}
        <div class="alert alert-warning">
            {{ message }}
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
        <header>
            <nav class="navbar navbar-inverse navbar-static-top ">
                <a class="navbar-brand" href="#">Agence Voyage</a>
            </nav>
        </header>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
            {% block javascripts %}{% endblock %}
        <footer class="container">
            <nav class="navbar navbar-dark fixed-bottom bg-dark">
                <p class="text-center">Created by REDOUANE YAHIAOUI-2020</p>
            </nav>
        </footer>
    </body>


</html>
