{% extends 'base.html.twig' %}

{% block title %}Edit Voyage{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('voyage_index') }}">Voyages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modification voyage</li>
        </ol>
    </nav>

    {{ include('voyage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('voyage_index') }}">back to list</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
