{% extends 'base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('voyage_index') }}">Voyages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Création nouveau voyage</li>
        </ol>
    </nav>
    {{ include('voyage/_form.html.twig') }}
{% endblock %}
